numpy
fastapi
uvicorn[standard]
redis
opensearch-py
httpx  # async HTTP calls
openai  # OpenAI GPT-4o API calls
python-dotenv
asyncpg
psycopg2
torch>=1.13.1
transformers>=4.27.0 # intent classification
sentence-transformers>=2.2.2
langchain  # core LangChain lib
langchain-community  # community extensions for LangChain
langchain-openai  # openAI-specific LangChain integration
spacy  # NER